.shelf {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 750px;
}

.cover {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  width: 150px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
}
